<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weather">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.weather.MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.weather.add_city"
            android:parentActivityName="com.weather.MainActivity"

            android:label="Add City">


        </activity>


        <activity
            android:name="com.weather.details"
            android:parentActivityName="com.weather.MainActivity"
            android:label="@string/title_activity_information" />

        <activity android:name="com.weather.login" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.weather.register"
            android:parentActivityName=".login">



        </activity>

    </application>

</manifest>